{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blogapp.css" %}" rel="stylesheet">
</head>
<body>
    <img src="/static/images/arsenal_logo.jpg" alt="Arsenal crest image" width="400">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Hugh's Arsenal blog</h2>
        <p>This is my Arsenal blog.</p>
        <a href="https://8000-hughcareygi-finalprojec-quojdnd6472.ws-eu115.gitpod.io/">Home</a>
    </div>
</body>
</html>